/*****************
 * Site Variables
 */
 
$color-brand: #c6a47e;
$color-white: #fff;
$color-black: #000;
$color-dark: #252525;

$color-text: #868686;

$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-instagram: #517fa4;
$color-google-plus: #dd4b39;
$color-linkedin: #007bb6;
$color-youtube: #bb0000;
$color-pinterest: #cb2027;

$font-family-sans-serif: "Helvetica", Arial, sans-serif;
$font-family-serif: "Helvetica", Arial, sans-serif;

$link-color: $color-brand;
$link-hover-color: darken( $color-brand, 15% );
$link-hover-decoration: none;