/**
 *	PROJECT			:		Project Name
 *	DEVELOPER		:		CAMWP DEV Team
 *	DEVELOPER URI	:		https://camwpdev.com
 *	DATE			:		20-August-2016
 *	UPDATE DATE			:	01-December-2017
 */

@import "variables";
@import "bootstrap/bootstrap";
@import "compass/css3";

html,
body {
	
	/* Prevent horizontal scrolling bar appears when pinterest extension is installed */
	color: $color-text;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
}

a,
button {
	outline: 0;
}

p {
	width: 100%;
}

.section-wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-heading {
	color: $color-black;
	font-size: 1.75rem;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	width: 100%;

	&:after {
		content: '';
		display: block;
		background-color: lighten( $color-black, 15% );
		height: 1px;
		margin: 15px auto;
		width: 60px;
	}

	span {
		color: $color-brand;
	}
}

.header-fixed {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;

    //@include transition-duration( 0.3s );

    .navbar-default {
    	padding: 12px 0;

    	.nav-link {
    		color: $color-white !important;
    		font-family: Tahoma, Arial, sans-serif;
    		text-transform: uppercase;
    		padding: 1rem;

    		&:hover,
    		&:active,
    		&.active {
				color: $color-brand !important;
    		}
    	}

    	.nav-item {
    		border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    	}

    	.navbar-toggler {
    		border-color: $color-white;
    	}

    	.navbar-toggler-icon {
    		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    	}

    	.navbar-collapse {
    		background-color: rgba(23, 23, 23, 0.95);
    		margin-top: 15px;
    	}
    }

    .navbar-brand {
    	width: 170px;

    	img {
    		max-width: 100%;
    		height: auto;
    	}
    }

    &.sticky {
    	background-color: $color-black;
    }
}

.hero {
	.hero-item {
	    padding-top: 167px;
	    padding-bottom: 100px;
	}

	h2 {
		color: $color-white;
		font-size: 2rem;
	}

	h3 {
		color: $color-brand;
		font-size: 1.125rem;
	}

	h2,
	h3 {
		display: block;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
    	line-height: normal;
	    margin-bottom: 15px;
		width: 100%;
	}
}

.map {
	height: 300px;
	width: 100%;

	#map-canvas {
		height: 100%;
	}
}

.footer {
	padding: 15px 0;
	background-color: $color-dark;
	position: relative;

	.copy {
		margin: 0;
	}

	.to-top {
		color: $color-text;
		position: absolute;
		right: 15px;
		font-size: 30px;
		top: calc( 50% - 22px );
	}
}

@media ( min-width: 552px ) {
	.header-fixed {
		.navbar-brand {
			width: auto;
		}
	}
}

@media ( min-width: 992px ) {
	.section-wrapper {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.section-heading {
		font-size: 2.375rem;

		&:after {
			margin: 30px auto;
			width: 120px;
		}
	}

	.header-fixed {
		.navbar-default {
			.navbar-collapse {
				background-color: transparent;
				margin-top: 0;
			}

			.nav-item {
				border: 0 none;
				padding-right: 0;
				padding-left: 30px;
			}
		}
	}

	.hero {
		.hero-item {
			padding-top: 263px;
			padding-bottom: 200px;
		}

		h2 {
			font-size: 2.625rem;
		}

		h3 {
			font-size: 1.375rem;
		}

		h2,
		h3 {
			letter-spacing: 4px;
		}
	}

	.map {
		height: 400;
	}

	.footer {
		padding: 30px;
	}
}

@media ( min-width: 1200px ) { 
	.section-wrapper {
		padding-top: 170px;
		padding-bottom: 170px;
	}

	.section-heading {
		font-size: 3rem;
	}	

	.header-fixed {
		.navbar-default {
			.nav-item {
				padding-left: 60px;
			}
		}
	}

	.hero {
		.hero-item {
			padding-top: 398px;
			padding-bottom: 264px;
		}
	}
}